*.exe
.vscode/
!*/cpp_stl/*.exe
!*/arrays/*.exe
!*/sorting_algorithms/*.exe
!*/char_arrays/*.exe
!*/bit_manipulation/*.exe
!*/recursion/*.exe
!*/divide_and_conquer/*.exe
!*/backtracking/*.exe
!*/oop/*.exe
!*/linked_list/*.exe
!*/stack/*.exe
!*/queue/*.exe
!*/binary_tree/*/.exe